/* Resources */
.resources li {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}
/* Planets */
.planets li {
    margin-right: 10px;
}
.planets li:last-child {
    margin-right: 0;
}
li .planet {
    display: block;
    margin: 0 auto 5px;
    background: url('../img/planets_sprite.png') no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* Planet Barren id 1*/
li .planet.planet-1 {
    background-position: -108px 0px;
}
li .planet.planet-1:hover {
    background-position: -108px -54px;
}
li .planet.planet-1.active {
    background-position: -108px -108px;
}
/* Planet Gas id 2*/
li .planet.planet-2 {
    background-position: -162px 0px;
}
li .planet.planet-2:hover {
    background-position: -162px -54px;
}
li .planet.planet-2.active {
    background-position: -162px -108px;
}
/* Planet Ice id 3*/
li .planet.planet-3 {
    background-position: -216px 0px;
}
li .planet.planet-3:hover {
    background-position: -216px -54px;
}
li .planet.planet-3.active {
    background-position: -216px -108px;
}
/* Planet Oceanic id 4*/
li .planet.planet-4 {
    background-position: -324px 0px;
}
li .planet.planet-4:hover {
    background-position: -324px -54px;
}
li .planet.planet-4.active {
    background-position: -324px -108px;
}
/* Planet Storm id 5*/
li .planet.planet-5 {
    background-position: 0px 0px;
}
li .planet.planet-5:hover {
    background-position: 0px -54px;
}
li .planet.planet-5.active {
    background-position: 0px -108px;
}
/* Planet Temperate id 6*/
li .planet.planet-6 {
    background-position: -54px 0px;
}
li .planet.planet-6:hover {
    background-position: -54px -54px;
}
li .planet.planet-6.active {
    background-position: -54px -108px;
}
/* Planet Lava id 7*/
li .planet.planet-7 {
    background-position: -270px 0px;
}
li .planet.planet-7:hover {
    background-position: -270px -54px;
}
li .planet.planet-7.active {
    background-position: -270px -108px;
}
/* Planet Plasma id 8*/
li .planet.planet-8 {
    background-position: -378px 0px;
}
li .planet.planet-8:hover {
    background-position: -378px -54px;
}
li .planet.planet-8.active {
    background-position: -378px -108px;
}
/* Icons */
.iconr {
    display: inline-block;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    margin-right: 5px;
    width: 18px;
    height: 18px;
    font-size: 0;
    line-height: 0;
}
.iconr img {
    max-width: 18px;
    vertical-align: bottom;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1100;
  background: #fff;
}
.frame {
    width: 550px;
    border: 0;
}